<div class="row flex flex-col h-full">
  <div class="px-4 p-1 bg-blue-200">
    <h1 class="inline-block"><%= t(".title") %></h1>
    <%= render "shared/simple_date_navigator", selected_date: @selected_date %>
  </div>
  <div id="tree-chart" class="team-chart h-full" data-controller="team-chart"
       data-action="
       newData@window->team-chart#handleNewTeamData
       cancelTeamChange@window->team-chart#handleCancelChange
        "
       style="padding-left:0; padding-right:0">
    <%= render "shared/chart_remote_controls", chart_controller: "team-chart" %>
  </div>
  <div data-controller="team-data"
       data-action="
          datePicked@window->team-data#handleDatePicked
          proposalPicked@window->team-data#handleProposalPicked
       "
       data-team-data-starting-date-value="<%= @selected_date %>">
  </div>

  <%= render "shared/floating_action_menu", selected_date: @selected_date, enabled_menu_options: [FloatingActionMenu::TEAM, FloatingActionMenu::PERSON, FloatingActionMenu::PROPOSAL, FloatingActionMenu::OPEN_REQ] %>
</div>


<effective-date-modal
  id="change-assignment-effective-date-modal"
  data-controller="effective-date-modal"
  data-effective-date-modal-selected-date-value="<%= @selected_date %>"
  data-effective-date-modal-completed-event-value="completeAssignmentChange"
  data-effective-date-modal-canceled-event-value="cancelAssignmentChange"
  data-effective-date-modal-open-event-value="personDropped"
></effective-date-modal>

<effective-date-modal
  id="change-team-parent-effective-date-modal"
  data-controller="effective-date-modal"
  data-effective-date-modal-selected-date-value="<%= @selected_date %>"
  data-effective-date-modal-completed-event-value="completeTeamParentChange"
  data-effective-date-modal-canceled-event-value="cancelTeamParentChange"
  data-effective-date-modal-open-event-value="teamDropped"
></effective-date-modal>

<effective-date-modal
  id="deactivate-person-effective-date-modal"
  data-controller="effective-date-modal"
  data-effective-date-modal-selected-date-value="<%= @selected_date %>"
  data-effective-date-modal-completed-event-value="completeDeactivatePersonChange"
  data-effective-date-modal-canceled-event-value="cancelDeactivatePersonChange"
  data-effective-date-modal-open-event-value="personDeactivationStarted"
></effective-date-modal>

<effective-date-modal
  id="deactivate-team-effective-date-modal"
  data-controller="effective-date-modal"
  data-effective-date-modal-selected-date-value="<%= @selected_date %>"
  data-effective-date-modal-completed-event-value="completeDeactivateTeamChange"
  data-effective-date-modal-canceled-event-value="cancelDeactivateTeamChange"
  data-effective-date-modal-open-event-value="teamDeactivated"
></effective-date-modal>

<url-date-manager
  data-controller="url-date-manager"
  data-action="datePicked@window->url-date-manager#handleDatePicked proposalPicked@window->url-date-manager#handleProposalPicked"
></url-date-manager>

