<div class="row org-chart">
  <div class="px-4">
    <h1><%= t(".title") %></h1>
  </div>
  <%= render "shared/date_navigator", selected_date: @selected_date %>
  <%= render "shared/plan_navigator", selected_plan: @selected_plan, plan_names: @plan_names %>
  <div class="team-chart" data-controller="team-chart"
       data-action="
       newData@window->team-chart#handleNewTeamData
       completeTeamChange@window->team-chart#handleCompleteChange
       cancelTeamChange@window->team-chart#handleCancelChange
        "
       style="padding-left:0; padding-right:0"></div>
  <div data-controller="team-data" data-action="datePicked@window->team-data#handleDatePicked" data-team-data-starting-date-value="<%= @selected_date %>"></div>

  <div class="fab-container">
    <div class="fab fab-icon-holder">
      <i class="fas fa-plus"></i>
    </div>

    <ul class="fab-options">
      <li>
        <span class="fab-label">Add New Team</span>
        <div class="fab-icon-holder" onclick="(() => { window.dispatchEvent(new CustomEvent('newTeamStarted', {}) )})()">
          <i class="fas fa-users"></i>
        </div>
      </li>
      <li>
        <span class="fab-label">Add New Person</span>
        <div class="fab-icon-holder" onclick="(() => { window.dispatchEvent(new CustomEvent('newPersonStarted', {}) )})()">
          <i class="fas fa-user"></i>
        </div>
      </li>
      <li>
        <span class="fab-label">Add New Assignment</span>
        <div class="fab-icon-holder">
          <i class="fas fa-network-wired"></i>
        </div>
      </li>
      <li>
        <span class="fab-label">Plan</span>
        <div class="fab-icon-holder">
          <i class="fas fa-clipboard-list" onclick="(() => { window.dispatchEvent(new CustomEvent('newPlanStarted', {}) )})()"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
<effective-date-modal
  id="change-supervisor-effective-date-modal"
  data-controller="effective-date-modal"
  data-effective-date-modal-selected-date-value="<%= @selected_date %>"
  data-effective-date-modal-completed-event-value="completeTeamChange"
  data-effective-date-modal-canceled-event-value="cancelTeamChange"
  data-effective-date-modal-open-event-value="personDropped"
></effective-date-modal>
<%= render "people/new_person_modal", selected_date: @selected_date %>
<%= render "teams/team_modal", selected_date: @selected_date %>
<%= render "plans/new_plan_modal" %>
<div
  data-controller="url-date-manager"
  data-action="datePicked@window->url-date-manager#handleDatePicked planPicked@window->url-date-manager#handlePlanPicked"
></div>

<effective-date-modal
  id="deactivate-person-effective-date-modal"
  data-controller="effective-date-modal"
  data-effective-date-modal-selected-date-value="<%= @selected_date %>"
  data-effective-date-modal-completed-event-value="completeDeactivatePersonChange"
  data-effective-date-modal-canceled-event-value="cancelDeactivatePersonChange"
  data-effective-date-modal-open-event-value="personDeactivated"
></effective-date-modal>
