<div class="row org-chart">
  <div class="px-4">
    <h1><%= t(".title") %></h1>
  </div>
  <%= render "shared/date_navigator", selected_date: @selected_date %>
  <%= render "shared/proposal_navigator", selected_proposal: @selected_proposal, proposal_names: @proposal_names %>
  <div class="team-chart" data-controller="team-chart"
       data-action="
       newData@window->team-chart#handleNewTeamData
       completeTeamChange@window->team-chart#handleCompleteAssignmentChange
       cancelTeamChange@window->team-chart#handleCancelChange
        "
       style="padding-left:0; padding-right:0">
    <%= render "shared/chart_remote_controls", chart_controller: "team-chart" %>
  </div>
  <div data-controller="team-data"
       data-action="
          datePicked@window->team-data#handleDatePicked
          proposalPicked@window->team-data#handleProposalPicked
       "
       data-team-data-starting-date-value="<%= @selected_date %>">
  </div>

  <%= render "shared/floating_action_menu", selected_date: @selected_date, enabled_menu_options: [FloatingActionMenu::TEAM, FloatingActionMenu::PERSON, FloatingActionMenu::PROPOSAL] %>
</div>
<effective-date-modal
  id="change-supervisor-effective-date-modal"
  data-controller="effective-date-modal"
  data-effective-date-modal-selected-date-value="<%= @selected_date %>"
  data-effective-date-modal-completed-event-value="completeTeamChange"
  data-effective-date-modal-canceled-event-value="cancelTeamChange"
  data-effective-date-modal-open-event-value="personDropped"
></effective-date-modal>
<effective-date-modal
  id="deactivate-person-effective-date-modal"
  data-controller="effective-date-modal"
  data-effective-date-modal-selected-date-value="<%= @selected_date %>"
  data-effective-date-modal-completed-event-value="completeDeactivatePersonChange"
  data-effective-date-modal-canceled-event-value="cancelDeactivatePersonChange"
  data-effective-date-modal-open-event-value="personDeactivated"
></effective-date-modal>
<effective-date-modal
  id="deactivate-team-effective-date-modal"
  data-controller="effective-date-modal"
  data-effective-date-modal-selected-date-value="<%= @selected_date %>"
  data-effective-date-modal-completed-event-value="completeDeactivateTeamChange"
  data-effective-date-modal-canceled-event-value="cancelDeactivateTeamChange"
  data-effective-date-modal-open-event-value="teamDeactivated"
></effective-date-modal>

<div
  data-controller="url-date-manager"
  data-action="datePicked@window->url-date-manager#handleDatePicked proposalPicked@window->url-date-manager#handleProposalPicked"
></div>
