<!--t.string "type"-->
<!--t.string "first_name"-->
<!--t.string "last_name"-->
<!--t.string "title"-->
<!--t.string "employee_id"-->
<!--t.string "supervisor_key"-->
<!--t.string "email"-->
<!--t.text "image_url"-->
<form>
  <label><input type="radio" name="effective_date" value="<%= selected_date %>" data-effective-date-picker-target="selectedDateInput" checked /> The selected date: <span data-effective-date-picker-target="selectedDate"><%= l(selected_date, format: :people_date) %></span></label>
  <label><input type="radio" name="effective_date" value="<%= Date.today %>" /> Today: <%= l(Date.today, format: :people_date) %></label>
  <label><input type="radio" name="effective_date" value="<%= Date.today.next_week(:monday) %>" /> Beginning of next week: <%= l(Date.today.next_week(:monday), format: :people_date) %></label>
  <label><input type="radio" name="effective_date" value="other" /> A different date: <input type="date" id="other_effective_date" name="other_effective_date" value="<%= selected_date %>" data-effective-date-picker-target="otherDateInput"></label>

  <div class="flex justify-end items-center flex-wrap mt-6">
    <button class="btn btn-cancel" data-action="">Cancel</button>
    <button class="btn btn-primary" data-action="">Next</button>
  </div>

</form>
