<div class="row org-chart">
  <div class="col-sm-6">
    <h1>Org Chart</h1>
  </div>
  <date-navigator data-controller="date-navigator" data-action="newOrgData@window->date-navigator#handleNewData" data-date-navigator-starting-date-value="<%= @selected_date %>">
    <input data-date-navigator-target="dateInput" data-action="change->date-navigator#handleChange" type="date" />
  </date-navigator>
  <div data-controller="org-chart" data-action="newOrgData@window->org-chart#handleNewOrgData" style="padding-left:0; padding-right:0">
    <div style="text-align: left" width="20%">
      <button data-action="click->org-chart#exportSvg" class="btn btn-action-button waves-effect waves-light"><i
        class="fas fa-file-download"></i> Export chart as .svg
      </button>
      <br/>
      <button data-action="click->org-chart#fit" class="btn btn-action-button waves-effect waves-light"><i class="fas fa-sync"></i>
        Fit chart to screen
      </button>
    </div>
  </div>
  <div data-controller="org-data" data-action="datePicked@window->org-data#handleDatePicked" data-org-data-starting-date-value="<%= @selected_date %>"></div>
</div>

<div data-controller="modal" data-action="supervisorChanged@window->modal#open">
  <div data-modal-target="container" data-action="click->modal#closeBackground [email protected]>modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
    <!-- Modal Inner Container -->
    <div class="max-w-sm max-h-screen w-full relative">
      <!-- Modal Card -->
      <div class="m-1 bg-white rounded shadow">
        <div class="p-8">
          <h2 class="text-xl mb-4">Pick a date for the change to take effect</h2>
          <form data-controller="effective-date-picker" data-action="datePicked@window->effective-date-picker#handleDatePicked">
            <label><input type="radio" name="effective_date" value="<%= @selected_date %>" checked /> The selected date: <span data-effective-date-picker-target="selectedDate"><%= l(@selected_date, format: :people_date) %></span></label>
            <label><input type="radio" name="effective_date" value="<%= Date.current %>" /> Today: <%= l(Date.current, format: :people_date) %></label>
            <label><input type="radio" name="effective_date" value="<%= Date.current.next_week(:monday) %>" /> Beginning of next week: <%= l(Date.current.next_week(:monday), format: :people_date) %></label>
            <label><input type="radio" name="effective_date" value="other" /> A different date: <input type="date" name="other_effective_date" value="<%= @selected_date %>"></label>

            <div class="flex justify-end items-center flex-wrap mt-6">
              <button class="btn btn-cancel" data-action="click->modal#close click->effective-date-picker#cancelChange">Cancel</button>
              <button class="btn btn-primary" data-action="click->modal#close click->effective-date-picker#completeChange">Commit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
