<chart-remote-controls style="position: absolute">
  <button
    data-action="click-><%= chart_controller %>#compact"
    class="btn bg-slate-100 m-1 w-[50px] text-center btn-action-button waves-effect waves-light"
  ><i class="fas fa-sitemap" title="Compact-Expand"></i></button>
  <br/>
  <button
    data-action="click-><%= chart_controller %>#pivot"
    class="btn bg-slate-100 m-1 w-[50px] text-center btn-action-button waves-effect waves-light"
  ><i class="fas fa-retweet" title="Pivot"></i></button>
  <br/>
  <button
    data-action="click-><%= chart_controller %>#fit"
    class="btn bg-slate-100 m-1 w-[50px] text-center btn-action-button waves-effect waves-light"
  ><i class="fas fa-compress-arrows-alt" title="Fit"></i></button>
  <br/>
  <button
    data-action="click-><%= chart_controller %>#exportImage"
    class="btn bg-slate-100 m-1 w-[50px] text-center btn-action-button waves-effect waves-light"
  ><i class="fas fa-file-download" title="Export Image"></i></button>
  <br/>
  <button
    data-action="click-><%= chart_controller %>#expandAll"
    class="btn bg-slate-100 m-1 w-[50px] text-center btn-action-button waves-effect waves-light"
  ><i class="fas fa-plus-square" title="Expand All"></i></button>
  <br />
  <button
    data-action="click-><%= chart_controller %>#collapseAll"
    class="btn bg-slate-100 m-1 w-[50px] text-center btn-action-button waves-effect waves-light"
  ><i class="fas fa-minus-square" title="Collapse All"></i></button>
  <br/>
  <button
    data-action="click-><%= chart_controller %>#fullscreen"
    class="btn bg-slate-100 m-1 w-[50px] text-center btn-action-button waves-effect waves-light"
  ><i class="fas fa-expand" title="Fullscreen"></i></button>
  <br/>
</chart-remote-controls>
