<chart-remote-controls style="position: absolute">
  <button
    data-action="click-><%= chart_controller %>#compact"
    class="btn btn-action-button waves-effect waves-light"
  ><i class="fas fa-sitemap"></i>Compact</button>
  <br/>
  <button
    data-action="click-><%= chart_controller %>#pivot"
    class="btn btn-action-button waves-effect waves-light"
  ><i class="fas fa-retweet"></i> Pivot</button>
  <br/>
  <button
    data-action="click-><%= chart_controller %>#fit"
    class="btn btn-action-button waves-effect waves-light"
  ><i class="fas fa-compress-arrows-alt"></i> Fit</button>
  <br/>
  <button
    data-action="click-><%= chart_controller %>#exportImage"
    class="btn btn-action-button waves-effect waves-light"
  ><i class="fas fa-file-download"></i>Export Image</button>
  <br/>
  <button
    data-action="click-><%= chart_controller %>#expandAll"
    class="btn btn-action-button waves-effect waves-light"
  ><i class="fas fa-plus-square"></i>Expand All</button>
  <br />
  <button
    data-action="click-><%= chart_controller %>#collapseAll"
    class="btn btn-action-button waves-effect waves-light"
  ><i class="fas fa-minus-square"></i>Collapse All</button>
  <br/>
  <button
    data-action="click-><%= chart_controller %>#fullscreen"
    class="btn btn-action-button waves-effect waves-light"
  ><i class="fas fa-expand"></i>Fullscreen</button>
  <br/>
</chart-remote-controls>
